html {box-sizing: border-box;}

*,*::before,*::after {box-sizing: inherit;}

/* GENERAL STYLING */
a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}


/* HOME STYLING */
#container {
  display: flex;
  flex-direction: column;
}

/* HOME HEADER STYLING */
#homeHeaderContainer {
  background: #022F40;
  color: white;
  display: flex;
  height: 75px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  ;
}

#homeHeaderContainer .logoDiv {
  padding-left: 20px;
  width: 18%
}

#homeHeaderContainer .catchphraseDiv {
  width: 50%;
  text-align: center;
}

#homeHeaderContainer .userButtonDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
  width: 22%;
}

#homeHeaderContainer .userButtonDiv .userButtons {
  border-radius: 5px;
  height: 50px;
  outline: none;
  width: 125px;
}

/* HOME BODY STYLING */
#homeBodyContainer {
  background: #C6C5B9;
  height: 1200px;
}

/* HOME BODY IMAGE STYLING */
#homeBodyContainer .homeImage {
  background-image: url('../assets/homebg3.jpg');
  background-size: cover;
  background-position-y: -500px;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 75px;
}

#homeBodyContainer .imgOverlay {
  background: rgba(127, 209, 185, .5);
  height: 300px;
  position: absolute;
  top: 75px;
  width: 100%;
}

#homeBodyContainer .greeting {
  left: 450px;
  position: absolute;
  top: 125px;
}

#homeBodyContainer .greeting h1 {
  color: white;
  font-size: 60px;
}

/* HOME BODY CLASS SELECTOR STYLING */
#homeBodyContainer .classSelectorDiv {
  display: flex;
  justify-content: space-evenly;



}

#homeBodyContainer .classSelectorDiv .classSelector {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #888888;
  color: white;
  cursor: pointer;
  height: 100%;
  margin-top: 100px;
  text-align: center;
  width: 25%;
}

/* #homeBodyContainer .classSelectorDiv .classSelector:active {
  height: 195px;
  width: 24%;
} */

.sub-lessons a:hover {
  color: #C6C5B9;
}

.classSelector {
  background: #62929E;
  height: 100%;
}

.sub-lessons {
  height: 100%;
}

.indi-lessons {
  height: 25px;

}

#homeBodyContainer .classSelectorDiv .classSelector h3 {
  font-size: 30px;
  margin: 0px auto;
  background: #022F40;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding-top: 12px;
}

#homeBodyContainer .classSelectorDiv .classSelector p {
  height: 70%;
  padding-top: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid blue; */
}

/* HOME FOOTER STYLING */
#homeFooterContainer {
  background: #022F40;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

#homeFooterContainer .footerLogoDiv {
  display: flex;
  padding-top: 0px;
  padding-left: 10px;
  width: 10%
}

#homeFooterContainer .footerInfoDiv {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  width: 50%
}

#homeFooterContainer .footerSocialDiv {
  display: flex;
  padding-top: 10px;
  text-align: center;
  width: 15%
}

#homeFooterContainer .footerSocialDiv svg {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 30px;
}