html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* GENERAL STYLING */
a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(255, 145, 137);
}

.link-button {
  color: white;
  font-size: 12px;
  height: 30px;
  margin: 0 10px;
  width: 90px;
  background: rgb(51, 129, 144);
  border-radius: 10px;
}

.link-button:hover {
  background: rgb(255, 145, 137);
}

/* LESSONS STYLING */
#container {
  display: flex;
  flex-direction: column;
}

/* LESSONS HEADER STYLING */
#lessonsHeaderContainer {
  background:#484848; 
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

#lessonsHeaderContainer .logoDiv {
  padding-left: 20px;
  padding-top: 10px;
  width: 18%
}

#lessonsHeaderContainer .logoDiv img {
  height: 75px;
  width: 75px;  
}

#lessonsHeaderContainer .catchphraseDiv {
  text-align: center;
  width: 50%;
}

#lessonHeaderContainer .catchphraseDiv h1 {
  padding-left: 165px;
  padding-top: 5px;
}

#lessonsHeaderContainer .userButtonDiv {
  display: flex;
  padding-top: 34px;
  width: 22%;
}

#lessonsHeaderContainer .userButtonDiv .userButtons {
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  margin-left: 20px;
  outline: none;
  width: 100px;
}

/* LESSONS BODY STYLING */
#lessonsBodyContainer {
  background: white;
  display: flex;
  min-height: 491px;
}

#lessonsBodyContainer .lessonsBody {
  background: white;
  color: black;
  margin: 0 auto;
  width: 80%;
}

#lessonsBodyContainer .lessonsBody .lessonsIntroDiv {
  height: 400px;
  overflow-y: hidden;
}

#lessonsBodyContainer .lessonsBody .lessonsIntroDiv:hover {
  overflow-y: scroll;
}

#lessonsBodyContainer .lessonsBody .link-button {
  display: block;
  margin: 20px auto;
}

#lessonsBodyContainer .lessonsBody .indi-lessons:hover {
  color:  rgb(255, 145, 137);
}

/* LESSONS FOOTER STYLING */
#lessonsFooterContainer {
  background: #484848;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

#lessonsFooterContainer .footerLogoDiv {
  display: flex;
  padding-top: 22px;
  padding-left: 20px;
  width: 10%
}

#lessonsFooterContainer .footerLogoDiv img {
  height: 30px;
  width: 90px;
}

#lessonsFooterContainer .footerInfoDiv {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  width: 50%;
}

#lessonsFooterContainer .footerSocialDiv {
  display: flex;
  padding-top: 10px;
  text-align: center;
  width: 15%
}

#lessonsFooterContainer .footerSocialDiv svg {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 30px;
}