html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {

  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 145, 137);
}

::-webkit-scrollbar-track {
  width: 10px;
}

/* GENERAL STYLING */
a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(255, 145, 137);
}

.link-button {
  background: rgb(51, 129, 144);
  border-radius: 10px;
  color: white;
  font-size: 12px;
  height: 30px;
  margin: 0 10px;
  outline: none;
  width: 90px;
}

.link-button:hover {
  background: rgb(255, 145, 137);
  transition: .5s;
  transform: scale(1.1);
}


/* LESSON HEADER STYLING */
#lessonHeaderContainer {
  background: #484848;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

#lessonHeaderContainer .logoDiv {
  padding-left: 20px;
  padding-top: 10px;
  width: 18%
}

#lessonHeaderContainer .logoDiv img {
  height: 75px;
  width: 75px;
}

#lessonHeaderContainer .catchphraseDiv {
  width: 50%;
  text-align: center;
}

#lessonHeaderContainer .userButtonDiv {
  display: flex;
  padding-top: 34px;
  width: 22%;
}

#lessonHeaderContainer .userButtonDiv .userButtons {
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  margin-left: 20px;
  outline: none;
  width: 100px;
}

/* LESSON ASIDE STYLING */
#lessonBodyContainer>.lessonAside {
  background: white;
  overflow-y: hidden;
  padding: 10px 30px;
  width: 250px;

}

#lessonBodyContainer .lessonAside:hover {
  overflow-y: scroll;
  /* transition: overflow ease 2s; */
}

#lessonBodyContainer .lessonAside .lesson-links {
  color: black;
  display: flex;
  font-size: 16px;
  line-height: 40px;
}

#lessonBodyContainer .lessonAside .lesson-links:hover {
  color: rgb(255, 145, 137);
  transition: .5s;
  transform: scale(1.1);
}

#lessonBodyContainer .lessonAside .lessonCourseDiv {
  margin-top: 100px;
}

/* LESSON BODY STYLING */
#lessonBodyContainer {
  background: white;
  color: black;
  display: flex;
  height: 491px;

}

#lessonBodyContainer .lessonBodyDiv {
  height: 400px;
  overflow-y: hidden;
  max-width: 1075px;
}

#lessonBodyContainer .lessonBodyDiv .lessonBody {
  padding: 20px 50px;
}

#lessonBodyContainer .lessonBodyDiv:hover {
  overflow-y: scroll;
}

#lessonBodyContainer .lessonButtonDiv {
  position: absolute;
  left: 285px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

/* LESSON FOOTER STYLING */
#lessonFooterContainer {
  background: #484848;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

#lessonFooterContainer .footerLogoDiv {
  display: flex;
  padding-top: 22px;
  padding-left: 20px;
  width: 10%
}

#lessonFooterContainer .footerLogoDiv img {
  height: 30px;
  width: 90px;
}

#lessonFooterContainer .footerInfoDiv {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  width: 50%;
}

#lessonFooterContainer .footerSocialDiv {
  display: flex;
  padding-top: 10px;
  text-align: center;
  width: 15%
}

#lessonFooterContainer .footerSocialDiv svg {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 30px;
}

@media screen and (min-width:1300px) {
  #lessonHeaderContainer .catchphraseDiv {
    width: 57%;
  }

  #lessonHeaderContainer .catchphraseDiv ._loading_overlay_wrapper {
    display: none;
  }

  #lessonContainer #lessonBodyContainer {
    height: 48.2rem;
  }

  #lessonBodyContainer>.lessonAside {
    height: 48rem;
    width: 15%;
  }

  #lessonBodyContainer .lessonAside .lesson-links {
    font-size: 24px;
    margin: 21px 0;
  }

  #lessonBodyContainer .lessonBodyDiv {
    height: 40rem;
    width: 100%;
  }

  #lessonBodyContainer .lessonBodyDiv {
    height: 40rem;
    max-width: 1630px;
  }

  #lessonBodyContainer .lessonButtonDiv {
    position: absolute;
    left: 550px;
  }

}
