html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.description {
    height: 100%;
    border: 1px solid black;
}

.description p {
    width: 50em;
}

.project-link a {
    color: black
}

.project-wrapper {
    height: 75vh;
    border: 1px solid black;
}

.sandbox {
    width: 95%;
    height: 100%;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid black;
}

.sandbox-wrapper {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

}

.hide {
    display: none;
}

.show {
    display: inline;
}

ul li {
    padding-bottom: 20px;
    width: 80%;
}

.example-link a {
    color: black
}

.example-link a:hover {
    color: rgb(232, 128, 121)
}

.project-link:hover {
    color: rgb(232, 128, 121)
}

.project-button {
    color: white;
    font-size: 12px;
    height: 30px;
    margin: 0 10px;
    width: 90px;
    background: rgb(51, 129, 144);
    border-radius: 10px;
}

.project-button:hover {
    color: rgb(232, 128, 121)
}